replicaCount: 2

image:
  repository: elisetaa/movie-service
  pullPolicy: Always
  tag: "latest"

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

database:
  host: movie-db-postgresql
  port: 5432
  name: movie_db
  user: movie_db_user
  existingSecret: ""
  existingSecretPasswordKey: password

castService:
  enabled: false  # Set to true if deploying as dependency
  url: http://cast-service:8000
  apiPath: /api/v1/casts/

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

livenessProbe:
  httpGet:
    path: /health
    port: 8000
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 5

environment: dev

env:
  - name: SERVICE_NAME
    value: "movie-service"
  - name: LOG_LEVEL
    value: "info"


serviceAccount:
  create: false
  name: ""  
  annotations: {} 